form {
  margin: auto;
  width: 60%;
}

input[type='text'] {
  appearance: none;
  border-radius: var(--radius-medium);
  border: var(--border);
  color: var(--color-foreground);
  width: 100%;
  padding: 0.125rem 0.5rem;
  text-align: center;
  box-shadow: var(--shadow-small);

  &:focus {
    outline: var(--outline-emphasize);
    /*box-shadow: var(--shadow-medium);*/
  }
}
