div.extended-group {
  border: var(--border);
  border-radius: var(--radius-medium);
  box-shadow: var(--shadow-small);
  padding: var(--spacing-small);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);

  font-size: 0.75rem

}

div.extended-card {
  border: var(--border);
  border-radius: var(--radius-small);
  padding: var(--spacing-small);
  background: var(--color-background-emphasize);

}

span.day {
  font-weight: 600;
  margin-right: 1px;
}
