.extended-group {
    width: 100%;
    border: var(--border);
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow-small);
    padding: var(--spacing-small);
    
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--spacing-small);
    
    font-size: 0.75rem
}

.extended-card {
    border: var(--border);
    border-radius: var(--radius-small);
    padding: 0 var(--spacing-small);
    background: var(--color-background-emphasize);
    
    display: grid;
    grid-template-columns: 2.5rem 1fr;
    align-items: center;
    /*gap: var(--spacing-small);*/
    gap: clamp(0.25rem, 0.75vw, 0.5rem);
    overflow: hidden;
}

.extended-title {
    margin-left: calc(var(--spacing-small) + 1px);
}

.forecast-day {
    font-weight: 500;
    font-size: 1rem;
    margin: var(--spacing-small) 0;
    line-height: 0;
}

.forecast {
    display: grid;
    grid-template-columns: 3rem 2fr 2fr;
    justify-items: start;
    align-items: center;
    gap: 1rem;
}

.loHi, .uvRain {
    /*margin-left: 24px;*/
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    /*justify-self: flex-start;*/
    
    &>div {
        white-space: nowrap;
    }
}

.forecast-icon {
    overflow: visible;
    max-width: 48px;
    justify-self: center;
    /*margin-right: var(--spacing-small);*/
    
    & img {
        --shadow-color: 240deg 12% 53%;
        filter: drop-shadow(0px 0px 2px hsl(var(--shadow-color) / 0.31))
        drop-shadow(0px 0px 4px hsl(var(--shadow-color) / 0.26))
        drop-shadow(0px 0px 6px hsl(var(--shadow-color) / 0.21));
    }
}


@media (max-width: 1100px) {
    
    .forecast {
        gap: 0.125rem
    }
}