<div class="extended-group">
  <h5 class="card-title extended-title">7-DAY FORECAST</h5>
  @for (day of extended(); track day.date){
    <div class="extended-card">
      <span class="forecast-day">
        {{ day.isToday === true ? 'Now' : ((day.date | date: 'EE') ) }}:
      </span>
      <div class="forecast">
        <span class="forecast-icon">
          <img [src]="imagePath(day.weatherCode)"
               alt="Current conditions">
        </span>
        <div class="loHi">
          <div>
            <span class="emphasized">Lo: </span>
            <span>{{ day.minTemperature | number: '1.0-0' }}°</span>
          </div>
          <div>
            <span class="emphasized">Hi: </span>
            <span>{{ day.maxTemperature |number: '1.0-0' }}°</span>
          </div>
        </div>
        <div class="uvRain">
          <div>
            <span class="emphasized">Rainfall: </span><span>{{ day.precipitation }}%
          </span>
          </div>
          <div>
            <span class="emphasized">UV Index: </span>{{ day.uvMax | number: '1.0-0' }}
          </div>
        </div>
      </div>
    </div>
  }
</div>
