<div class="current-wrapper">
  <div class="current-icon">
    <img src="./../../assets/weather-icons/background2.svg" alt="Icon background"
         class="icon-background">
    <img [src]="imagePath" alt="Current conditions" class="icon">
  </div>
  <div class="current-data">
    <p class="bold location">
      {{ location().name }},{{location().country}}
    </p>
    <p>
      {{ current().temperature | number:'1.0-0' }}°
    </p>
    <p [innerHTML]="conditions">
    </p>
    <p>
      <span class="bold">Lo:</span> {{ current().min | number:'1.0-0' }}°
      <span class="bold">Hi:</span> {{ this.current().max | number:'1.0-0' }}°
    </p>
  </div>

</div>
