div {
  height: 100%;
  /*border: var(--border);*/
  /*border-radius: var(--radius-medium);*/
  /*box-shadow: var(--shadow-small);*/
  color: var(--color-foreground);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.emphasized {
  font-weight: 500;
}