div.scrollable-container {
  width: 100%;
  padding: var(--spacing-small);
  display: flex;
  gap: var(--spacing-small);
  overflow: auto;
  white-space: nowrap;
  user-select: none;
}
/*TODO: make all cards the same, fixed width*/
div.hourly-card {
  flex: 0 0 4rem;
  border: var(--border);
  border-radius: var(--radius-small);
  padding: var(--spacing-small);
  background-color: var(--color-background-emphasize);
  text-align: center;
  
  &:hover {
    background-color: var(--color-background-highlight);
  }
}
