div {
  border-radius: var(--radius-medium);
  border: var(--border);
  color: var(--color-foreground);
  box-shadow: var(--shadow-small);

  &:hover {
    /*background-color: hsl(240, 5%, 96%);*/
  }
}
