.extended-card-wrapper {
    border: var(--border-medium);
    border-radius: var(--radius-small);
    padding: var(--spacing-x-small) var(--spacing-large) var(--spacing-x-small) var(--spacing-small);
    background: var(--color-background-emphasize);
    
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--spacing-small);
    overflow: hidden;
}

.extended-title {
    margin-left: calc(var(--spacing-small) + 1px);
}

.forecast-day {
    font-weight: var(--font-emphasized);
    font-size: 1rem;
    margin: var(--spacing-small) 0;
    line-height: 0;
}

.forecast {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    column-gap: var(--spacing-medium);
    
    grid-template-areas:
    "ficon lohi lohi"
    "ficon uvr uvr"
}

.forecast-icon {
    position: relative;
    overflow: visible;
    justify-self: center;
    grid-area: ficon;
    height: 2.5rem;
    border: var(--border-light);
    border-radius: var(--radius-small);
    background-color: var(--color-background-muted);;
    
    & img {
        max-height: 105%;
    }
}


.loHi, .uvRain {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    
    & > div {
        white-space: nowrap;
    }
}

.loHi {
    grid-area: lohi;
    font-weight: var(--font-emphasized);
}

/* Hi-lo graph */
.graph-num {
    width: 2rem;
    display: flex;
    justify-content: start;
    
    &:last-of-type {
        justify-content: end;
        
        &::after {
            content: '°';
            position: absolute;
            right: -0.5rem;
        }
    }
}

.bar-container {
    margin: 0 0;
    width: 100%;
    height: 0.35rem;
    border-radius: var(--radius-small);
    background-color: var(--color-background-muted);
    overflow: hidden;
    align-self: center;
    
    position: relative;
}

.bar-fill {
    height: 100%;
    background-color: var(--color-foreground);
    border-radius: var(--radius-small);
    
    position: relative;
}

.uvRain {
    justify-self: stretch;
    align-content: space-between;
    grid-area: uvr;
}
