.today-group {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
}

/* Card*/
.today-card {
  aspect-ratio: 4 / 3;
  border-radius: var(--radius-medium);
  border: var(--border);
  box-shadow: var(--shadow-small);
  padding: var(--spacing-small) 8px;
  font-size: 0.7rem;
  max-height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.heading-icon {
  display: inline;
  width: 1.1rem;
}
.value {
  align-self: center;
  font-size: 1.5rem;
}
.description {
  font-size: 0.75rem;
}

/* Linear graph*/
.bar-container {
  margin: 0.25rem 0;
  width: 100%;
  height: 0.5rem;
  border-radius: var(--radius-small);
  background-color: var(--color-background-muted);
  overflow: hidden;
}
.bar-fill {
  height: 100%;
  background-color: var(--color-foreground);
  transition: width 0.3s;
}
.bar-labels {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
}


/* AIR QUALITY*/
.air-quality {
  /*background-image: url("/assets/decorations/blurry-spot.svg#green");*/
  background-repeat: no-repeat;
  background-position: center;

  & * {
    isolation: isolate;
    z-index: 999;
  }
}
.decoration {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  
  & > p {
    position: absolute;
    top: calc(50% - 0.75rem);
    left: calc(50% - 0.75rem);
  }
}

/* Responsiveness */
@media (max-width: 1100px) {
  .today-group {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    
  }
  
  .today-card {
    /*aspect-ratio: auto;*/
  }
}

@media (max-width: 550px) {
  .today-group {
    grid-template-columns: 1fr 1fr;
  }
}