<!-- TODO: ADD SOME GRAPHICAL PRESENTATIONS-->

<div class="today-group">
  <!--  sunrise/sunset  -->
  <div class="today-card sun">
    <div class="card-heading">
      <img src="/assets/icons/sunset.svg" alt="sun-icon" class="card-heading-icon">
      <h5>SUNSET</h5>
    </div>
    RISE: {{ today.sunrise | date: 'HH:mm' }}<br>
    SET: {{ today.sunset | date: 'HH:mm' }}
  </div>

  <!--  uv index  -->
  <div class="today-card uv-index">
    <div class="card-heading">
      <img src="/assets/icons/uv.svg" alt="uv-index" class="card-heading-icon">
      <h5>UV INDEX</h5>
    </div>
    <div class="linear-graph" >
      <span class="graph-value uv-value" [style.left.%]="linearGraphic(today.uv, 0,
      10)">
        {{ today.uv | number:'1.0-0'}}
      </span>
      <div class="bar-container">
        <div class="bar-fill" [style.width.%]="linearGraphic(today.uv, 0, 10)"></div>
      </div>
      <div class="bar-labels">
        <span>0</span>
        <span>10</span>
      </div>
    </div>
    <p class="description">{{ uvMessage[1] }}</p>
  </div>

  <!--  pressure  -->
  <div class="today-card air-pressure">
    <div class="card-heading">
      <img src="/assets/icons/pressure.svg" alt="air-pressure"
           class="card-heading-icon">
      <h5>AIR PRESSURE</h5>
    </div>
    <div class="linear-graph">
      <span class="graph-value">
        {{ today.pressure | number:'1.0-0'}} hPa
      </span>
      <div class="bar-container">
        <div class="bar-fill"
             [style.width.%]="linearGraphic(today.pressure, 950, 1050)"></div>
      </div>
      <div class="bar-labels">
        <span>lo</span>
        <span>hi</span>
      </div>
    </div>
    <p class="description">{{ pressureMessage }}</p>
  </div>

  <!--  wind  -->
  <div class="today-card wind">
    <div class="card-heading">
      <img src="/assets/icons/wind.svg" alt="wind-icon" class="card-heading-icon">
      <h5>WIND</h5>
    </div>
    SPEED: {{ today.windSpeed }} km/h <br>
    DIRECTION: {{ today.windDirection }} °
  </div>

  <!--  humidity  -->
  <div class="today-card humidity">
    <div class="card-heading">
      <img src="/assets/icons/humidity.svg" alt="humidity-icon"
           class="card-heading-icon">
      <h5>HUMIDITY</h5>
    </div>
    {{ today.humidity }} %
  </div>

  <!--  subj feel  -->
  <div class="today-card subjective-feel">
    <div class="card-heading">
      <img src="/assets/icons/feel.svg" alt="feels-like-icon" class="card-heading-icon">
      <h5>FEELS LIKE</h5>
    </div>
    {{ today.subjectiveTemp }} °C
  </div>

  <!--  visibility  -->
  <div class="today-card visibility">
    <div class="card-heading">
      <img src="/assets/icons/visibility.svg"
           alt="visibility-icon"
           class="card-heading-icon">
      <h5>VISIBILITY</h5>
    </div>
    <span class="value">{{ today.visibility }} km</span>
    <p class="description">Exceptionally clear</p>
  </div>

  <!--  air-quality index  -->
  <div class="today-card air-quality">
      <svg class="air-glow">
        <use [attr.href]="airColor"></use>
      </svg>
<!--      <img src="/assets/decorations/blurry-spot.svg#green" class="air-glow">-->
    <div class="card-heading">
      <img src="./../../assets/icons/air.svg" alt="air-quality-icon"
           class="card-heading-icon">
      <h5>AIR QUALITY</h5>
    </div>
    <span class="value">{{ airQualityIndex }}</span>
    <p class="description">{{ airMessage}}</p>
  </div>

</div>
