.today-group {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: stretch;
    width: 100%;
}

/* Card*/
.today-card {
    max-width: 100%;
    border-radius: var(--radius-medium);
    border: var(--border);
    box-shadow: var(--shadow-small);
    padding: var(--spacing-small) 8px;
    font-size: 0.7rem;
    position: relative;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &>div:not(.card-heading) {
        /*display: none;*/
    }
    
}

.card-heading {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    opacity: 60%;
    max-width: 100%;
}

.card-heading-icon {
    display: inline;
    width: 1rem;
}

.value {
    align-self: center;
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;
    
    &:after {
        color: white;
        mix-blend-mode: difference;
    }
}

.description {
    font-size: 0.8rem;
    font-weight: 500;
    isolation: isolate;
    z-index: 999;
}

/* GRAPHS */
.graph-container {
    font-weight: 500;
    width: 100%;
}

/* Linear graph*/
.graph-value {
    display: inline-block;
    font-size: 0.875rem;
    position: relative;
    
    &.uv-value {
        transform: translateX(-50%);
    }
}

.bar-container {
    margin: 0 0;
    width: 100%;
    height: 0.5rem;
    border-radius: var(--radius-small);
    background-color: var(--color-background-muted);
    overflow: hidden;
}

.bar-fill {
    height: 100%;
    background-color: var(--color-foreground);
    transition: width 0.3s ease-in-out;
}

.bar-labels {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
}

/* Circular graph */
.circle {
    aspect-ratio: 1 / 1;
    margin: 4px auto;
    max-width: 72px;
    /*border: 3px dotted var(--color-foreground);*/
    background-color: var(--color-background-muted);
    border-radius: 50%;
    position: relative;
    overflow: visible;
    
}
.directions {
    /*position: relative;*/
    text-align: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    font-size: 0.9rem;
    color: var(--color-foreground);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    overflow: visible;
    z-index: 1;
    line-height: 0;
    
    &>.n {
        position:absolute;
        top: -2px;
        left: 50%;
        transform: translateX(-50%);
    }
    &>.e {
        position:absolute;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
    }
    &>.s {
        position:absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
    }
    &>.w {
        position:absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.pointer {
    height: 1.5rem;
    position: absolute;
    transform-origin: center;
    top: 36px;
    left: 36px;
}


/* AIR QUALITY*/
.air-quality {
    position: relative;
    
    & * {
        isolation: isolate;
        z-index: 999;
    }
}

.air-glow {
    width: 150%;
    height: 150%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    
}

/* Responsiveness */
@media (max-width: 1100px) {
    .today-group {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
    }
}

@media (max-width: 660px) {
    .today-group {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}