.today-group {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
}

/* Card*/
.today-card {
  aspect-ratio: 4 / 3;
  border-radius: var(--radius-medium);
  border: var(--border);
  box-shadow: var(--shadow-small);
  padding: var(--spacing-small) 8px;
  font-size: 0.7rem;
  max-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  & p {
    width: 100%;
    text-align: justify;
  }
  
  &:hover {
    background: var(--color-background-emphasize);
  }
}

/* Linear graph*/
.bar-container {
  margin: 0.25rem 0;
  width: 100%;
  height: 0.5rem;
  border-radius: var(--radius-small);
  background-color: var(--color-background-muted);
  overflow: hidden;
}
.bar-fill {
  height: 100%;
  background-color: var(--color-foreground);
  transition: width 0.3s;
}
.bar-labels {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
}

/* Responsiveness */
@media (max-width: 1100px) {
  .today-group {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    
  }
  
  .today-card {
    /*aspect-ratio: auto;*/
  }
}

@media (max-width: 550px) {
  .today-group {
    grid-template-columns: 1fr 1fr;
  }
}