.current-wrapper {
    /*height: 100%;*/
    color: var(--color-foreground);
    position: relative;
    
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  1fr;
    align-items: center;
    justify-content: center;
    
}

.current-data {
    grid-area: 1 / 3 / 2 / 5;
    justify-self: start;
    display: flex;
    flex-direction: column;
    
    & > * {
        width: fit-content;
        background-color: var(--color-background);
    }
}

.location {
    width: fit-content;
    box-shadow: inset 0 -0.75rem 0 0 var(--color-primary);
}

.current-icon-wrapper {
    width: 100%;
    grid-area: 1 / 2 / 2 / 3;
    justify-self: end;
    max-width: 100px;
    overflow: visible;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/weather-icons/background.svg");
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow-small);
}

.current-icon {
    margin: var(--spacing-small);
    width: 80%;
    position: relative;
}