main {
  margin: 2rem auto;
  width: 80%;
  border: var(--border);
  border-radius: var(--radius-medium);
  box-shadow: var(--shadow-small);
  padding: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto 1fr 1fr auto;
  grid-template-areas:
    ". search search ."
    ". current current ."
    "hourly hourly hourly hourly"
    "today today today today"
    "today today today today"
    "extended extended . .";
  justify-items: center;
}

.searchbar-wrapper {
  grid-area: search;
  width: 100%;
}
.current-wrapper {
  width: 100%;
  grid-area: current;
}
.hourly-wrapper {
  width: 100%;
  grid-area: hourly;
}
.today-wrapper {
  width: 100%;
  grid-area: today;
}
.extended-wrapper {
  width: 100%;
  grid-area: extended;
}
