main {
  margin: 2rem auto;
  width: 80%;
  border: var(--border);
  border-radius: var(--radius-medium);
  box-shadow: var(--shadow-small);
  padding: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto 1fr 1fr;
  grid-template-areas:
    "search search search"
    ". current ."
    "hourly hourly hourly"
    "today today today"
    "today today today";
  justify-items: center;
}

div {
  width: fit-content;
}
div.searchbar-wrapper {
  grid-area: search;
  width: 100%;
}
div.current-wrapper {
  width: 100%;
  grid-area: current;
}
div.hourly-wrapper {
  width: 100%;
  grid-area: hourly;
}
div.today-wrapper {
  width: 100%;
  grid-area: today;
}
