<main>
  <!--  Location search-->
  <app-search (locationEmitter)="onLocationFound($event)" />

  <!-- Weather data  -->
  @if (weatherData && airQualityIndex) {
    <div class="content-wrapper"
         [@animateElement]>
      <!--  Current weather conditions  -->
      <div class="wrapper current-wrapper">
        <app-current [current]="currentData()"
                     [location]="location" />
      </div>

      <!--  Hourly temperatures  -->
      <div class="hourly-wrapper">
        <app-hourly [hourly]="hourlyData()" />
      </div>

      <!--  Today's conditions  -->
      <div class="wrapper today-wrapper">
        <app-today [today]="todayData()"
                   [airQualityIndex]="airQualityIndex" />
      </div>

      <!--  7-day Forecast  -->
      <div class="extended-wrapper">
        <app-extended [extended]="extendedData()" />
      </div>
    </div>
  }
</main>
