<main>
  <!--  Location search-->
  <div class="searchbar-wrapper">
    <app-search  (location)="onLocationFound($event)"/>
  </div>
  @if (weatherData && airQualityIndex) {
    <div class="content-wrapper">
      <!--  Current weather conditions  -->
      <div class="wrapper current-wrapper">
        <app-current [current]="getCurrentData()" [location]="location" />
      </div>
      <!--  Hourly temperatures  -->
      <div class="hourly-wrapper">
        <app-hourly [hourly]="getHourlyData()" />
      </div>
      <!--  Today's conditions  -->
      <div class="wrapper today-wrapper">
        <app-today [today]="getTodayData()" [airQualityIndex]="airQualityIndex" />
      </div>
      <!--  7-day Forecast  -->
      <div class="extended-wrapper">
        <app-extended [extended]="getExtendedData()" />
      </div>
      <!--   TODO: Add location picture or map view component   -->
    </div>
  }

</main>
