<div class="extended-card-wrapper">
    <span class="forecast-day">
            {{ dayData().isToday ? 'Now' : ((dayData().date | date: 'EE')) }}:
          </span>

  <div class="forecast">
    <span class="forecast-icon">
      <img [src]="imagePath(dayData().weatherCode)"
           alt="Current conditions">
      <div class="background"></div>
    </span>

    <div class="loHi">
      <span class="graph-num">{{ dayData().minTemperature }}°</span>
      <div class="bar-container">
        <div class="bar-fill"
             [style.width.%]="graphFillWidth()"
             [style.left.%]="graphFillOffset()"></div>
      </div>
      <span class="graph-num">{{ dayData().maxTemperature }}</span>
    </div>

    <div class="uvRain">
      <div>
        <span class="emphasized">Precipitation: </span><span>{{ dayData().precipitation }}%
              </span>
      </div>
      <div>
        <span class="emphasized">UV Index: </span>{{ dayData().uvMax | number: '1.0-0' }}
      </div>
    </div>
  </div>
</div>