:host {
    background: var(--color-background-emphasize);
    border: var(--border-medium);
    border-radius: var(--radius-small);
    padding: var(--spacing-x-small);
    /*padding-right: var(--spacing-large);*/
    transition: var(--transition-long);
    display: flex;
    flex-direction: column;
    
}
.main-view {
    height: 2.25rem;
    
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.extended-title {
    margin-left: calc(var(--spacing-small) + 1px);
}

.forecast-day {
    font-weight: var(--font-emphasized);
    font-size: 1rem;
    margin: 0 var(--spacing-medium) 0 var(--spacing-x-small);
    /*line-height: 0;*/
}

.forecast {
    display: flex;
    align-items: center;
    height: 100%;
}

.forecast-icon {
    height: 2rem;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: visible;
    /*justify-self: center;*/
    grid-area: ficon;
    border-radius: var(--radius-small);
    background-color: var(--color-foreground);
    margin-right: var(--spacing-medium);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    & img {
        height: 82%;
        margin: 3px;
        aspect-ratio: 1 / 1;
        /*width: 85%;*/
        /*height: 85%;*/
    }
}

.main-info-wrapper {
    width: 14rem;
    display: flex;
    justify-content: space-between;
    /*flex-direction: column;*/
}

.conditions {
    font-weight: bold;
}

.emphasized {
    font-weight: bold;
}


.loHi, .expanded-data {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    & > div {
        white-space: nowrap;
    }
}

.loHi {
    width: 100%;
    font-weight: var(--font-emphasized);
}

/* Hi-lo graph */
.graph-num {
    width: 2rem;
    display: flex;
    justify-content: end;
    
    &:last-of-type {
        &::after {
            content: '°';
            position: absolute;
            right: -0.5rem;
        }
    }
}

.bar-container {
    /*margin: 0 var(--spacing-small);*/
    width: 100%;
    height: 0.35rem;
    border-radius: var(--radius-small);
    /*border: var(--border-emphasize);*/
    background-color: var(--color-background-muted);
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.bar-fill {
    height: 100%;
    background-color: var(--color-foreground);
    border-radius: var(--radius-small);
    position: relative;
}

.separator {
    margin-top: var(--spacing-small);
    /*margin-bottom: var(--spacing-small);  */
    height: 1px;
    width: 95%;
    background-color: var(--color-foreground);
    opacity: 0.4;
    align-self: center;
}

.expanded-view {
    justify-self: stretch;
    align-content: space-between;
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-small);
}

.expanded-column {
    display: flex;
    flex-direction: column;
}

span.expander {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: auto;
}

.arrow {
    height: 100%;
    width: 100%;
    transition: var(--transition-short)
}

.arrow-expanded {
    transform: rotate(180deg);
    transition: var(--transition-short)
}