:host {
    background: var(--color-background-emphasize);
    border: var(--border-medium);
    border-radius: var(--radius-small);
    padding: var(--spacing-x-small) var(--spacing-medium);
    overflow: hidden;
    white-space: nowrap;
}

.main-view {
    height: 2.26rem;
    overflow: hidden;
    display: grid;
    align-items: center;
    grid-template-columns: 3rem  2rem auto 1.25rem;
    gap: var(--spacing-small);
}

.extended-title {
    margin-left: calc(var(--spacing-small) + 1px);
}

.extended-day {
    font-weight: var(--font-emphasized);
    font-size: 1rem;
    margin: 0 var(--spacing-medium) 0 0;
}

.extended-icon {
    height: 2rem;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: visible;
    border-radius: var(--radius-small);
    margin-right: var(--spacing-medium);
    background-color: var(--color-background-muted);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    & img {
        aspect-ratio: 1 / 1;
    }
}

.extended-temp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graph-num {
    width: 2rem;
    display: flex;
    justify-content: end;
    margin-right: var(--spacing-small);
    font-weight: 500;
    position: relative;
    
    &:last-of-type {
        &::after {
            content: '°';
            position: absolute;
            right: -0.5rem;
        }
    }
}

.bar-container {
    width: 100%;
    height: 0.35rem;
    border-radius: var(--radius-small);
    background-color: var(--color-background-muted);
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.bar-fill {
    height: 100%;
    background-color: var(--color-foreground);
    border-radius: var(--radius-small);
    position: relative;
}

.expander {
    width: 1rem;
    height: 1rem;
    margin-left: auto;
    cursor: pointer;
}

.arrow {
    height: 100%;
    width: 100%;
    transition: var(--transition-short)
}

.arrow-expanded {
    transform: rotate(180deg);
    transition: var(--transition-short)
}


.expanded-view {
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.separator {
    margin: var(--spacing-small) 0;
    height: 1px;
    width: 97.5%;
    background-color: var(--color-foreground);
    opacity: 0.4;
    align-self: center;
}

.expanded-data-wrapper {
    display: flex;
    justify-content: space-between;
}

.expanded-column {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.expanded-data {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    gap: var(--spacing-x-small);
}

.expanded-data-value {
    text-align: left;
    justify-self: start;
}

.left-column {
    display: inline-block;
    width: 6.75rem;
}

.emphasized {
    font-weight: 700;
}