<div class="main-view">
  <span class="extended-day">
    {{ dayData().isToday ? 'Today' : ((dayData().date | date: 'EE')) }}
  </span>
  <span class="extended-icon">
      <img [src]="imagePath(dayData().weatherCode)"
           alt="Current conditions">
    </span>
  <div class="extended-temp">
      <span class="graph-num"
            [class.negative]="dayData().minTemperature <= -1">{{ dayData().minTemperature }}°</span>
    <div class="bar-container">
      <div class="bar-fill"
           [style.width.%]="graphFillWidth()"
           [style.left.%]="graphFillOffset()"></div>
    </div>
    <span class="graph-num"
          [class.negative]="dayData().maxTemperature <= -1">{{ dayData().maxTemperature }}</span>
  </div>
  <span (click)="onToggleView()"
        class="expander">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="24"
         height="24"
         viewBox="0 0 24 24"
         fill="none"
         stroke="#434370"
         stroke-width="2"
         stroke-linecap="round"
         stroke-linejoin="round"
         class="arrow"
         [class.arrow-expanded]="expandedView()"><path d="m6 9 6 6 6-6" /></svg>
  </span>
</div>

@if (expandedView()) {
  <!--  <div class="separator" @load></div>-->
  <div class="expanded-view"
       @expandShrinkElement>
    <div class="separator"></div>
    <div class="expanded-data-wrapper">
      <div class="expanded-column">
        <div class="expanded-data">
          <span class="emphasized left-column">Precipitation: </span>
          <div class="expanded-data-value">{{ dayData().precipitation }}%</div>
        </div>
        <div class="expanded-data">
          <span class="emphasized left-column">Wind Gusts: </span>
          <div class="expanded-data-value">{{ dayData().wind_gusts_10m_max | number: '1.1-1' }}km/h</div>
        </div>
      </div>
      <div class="expanded-column">
        <div class="expanded-data">
          <span class="emphasized">UV Index: </span>
          <div class="expanded-data-value">{{ dayData().uvMax | number: '1.0-0' }}</div>
        </div>
        <div class="expanded-data">
          <span class="emphasized">Daylight: </span>
          <div class="expanded-data-value"> {{ dayData().daylight_duration }}</div>
        </div>
      </div>
    </div>

  </div>
}
