/* You can add global styles to this file, and also import other style files */
@import 'reset.css';

:root {
    --color-primary: hsl(51, 100%, 75%);
    --color-secondary: hsl(222 47% 35%);
    --color-error: hsl(350, 70%, 90%);
    --color-foreground: hsl(240 47% 15%);
    --color-background: hsl(240 3% 99%);
    --color-background-emphasize: hsl(240 4% 97%);
    --color-background-muted: hsl(240 6% 90%);
    
    --border: 1px solid hsl(240 47% 15%);
    --border-lighter: 1px solid hsla(240, 47%, 13%, 0.4);
    --border-emphasize: 1px solid hsl(222 47% 30%);
    
    --shadow-small: 4px 4px 0 hsl(240, 47%, 13%, 0.2);
    
    --radius-small: 0.25rem;
    --radius-medium: 0.5rem;
    
    --spacing-small: 0.5rem;
    --spacing-medium: 0.75rem;
    
    --transition-short: 0.15s;
    --transition-medium: 0.25s;
    --transition-long: 0.35s;
    
    --font-normal: 400;
    --font-emphasized: 500;
    --font-bold: 700;
    
    scroll-behavior: smooth;
    
}

body {
    font-family: 'JetBrains Mono','Inter', sans-serif;
    color: var(--color-foreground);
    background-color: var(--color-background);
}

h5 {
    font-size: 0.75rem;
}

.emphasized {
    font-weight: var(--font-emphasized);
}
.bold {
    font-weight: var(--font-bold);
}
