/* You can add global styles to this file, and also import other style files */
@import 'reset.css';

:root {
    --color-primary: hsl(51, 100%, 75%);
    --color-secondary: hsl(222 47% 35%);
    --color-error: hsl(350, 70%, 90%);
    --color-foreground: hsl(240 47% 13%);
    --color-background: hsl(0 0% 100%);
    --color-background-emphasize: hsl(240 40% 99%);
    --color-background-highlight: hsl(240 40% 96%);
    --color-background-muted: hsl(240 6% 90%);
    
    --border: 1px solid hsl(240 47% 13%);
    --border-lighter: 1px solid hsla(240, 47%, 13%, 0.4);
    --border-emphasize: 1px solid hsl(222 47% 30%);
    
    --shadow-small: 4px 4px 0 hsl(240, 47%, 13%, 0.1);
    
    --radius-small: 0.25rem;
    --radius-medium: 0.5rem;
    
    --spacing-small: 0.5rem;
    --spacing-medium: 0.75rem;
    
}

body {
    font-family: 'JetBrains Mono','Inter', sans-serif;
    color: var(--color-foreground);
}

h5 {
    font-size: 0.75rem;
}

span.emphasized {
    font-weight: 500
}
