<form (ngSubmit)="onSubmit()">
  <input placeholder="Location"
         type="text"
         id="search-query"
         name="search-query"
         autocomplete="off"
         spellcheck="false"
         [(ngModel)]="searchQuery">
  <img class="search-button"
       src="/assets/icons/search.svg"
       alt="search-button"
       (click)="onSubmit()">
  <img class="location-button"
       src="/assets/icons/location.svg"
       alt="location-lookup"
       (click)="onGeoLocate()">
</form>
@if (errorMessage()) {
  <div class="no-location">
    {{ errorMessage() }}
  </div>
}