:host {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    position: relative;
}
form {
    margin: auto;
    width: 100%;
    position: relative;
    transition: var(--transition-medium);
    
    &:before {
        content: '';
        position: absolute;
        background-image: url('/assets/icons/search.svg');
        background-size: contain;
        width: 1.2rem;
        height: 1.2rem;
        left: 14px;
        top: 50%;
        transform: translateY(-50%);
        transition: var(--transition-short);
    }
    
    
    &:has(> #search-query:focus) {
        transform: scale(1.03);
        transition: var(--transition-short);
    }
}

#search-query {
    appearance: none;
    width: 100%;
    border: solid 1px var(--color-foreground);
    border-radius: var(--radius-medium);
    box-shadow: 4px 4px 0 var(--color-foreground);
    color: var(--color-foreground);
    background-color: var(--color-primary);
    padding: 5px 43px;
    font-size: 1.3rem;
    font-weight: var(--font-normal);
    transition: var(--transition-medium);
    
    &::placeholder {
        color: hsl(222, 47%, 0%);
        opacity: 0.5;
        font-weight: var(--font-normal);
        transition: var(--transition-medium);
    }
    
    &:focus {
        outline: none;
        box-shadow: 6px 6px 0 var(--color-foreground);
        transition: var(--transition-medium);
        
        &::placeholder {
            transition: var(--transition-short);
            opacity: 0;
        }
    }
}

.location-button {
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    
    &:hover {
        cursor: pointer;
    }
}

.no-location {
    /*grid-area: current;*/
    width: 100%;
    border: var(--border-lighter);
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow-small);
    padding: 5px;
    color: hsl(240 47% 15% / 0.8);
    background-color: var(--color-error);
    font-size: 1.3rem;
    font-weight: var(--font-normal);
    text-align: center;
    transition: opacity 1s ease-in-out;
}