:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-large);
    position: relative;
}

form {
    margin: auto;
    width: 100%;
    position: relative;
    transition: var(--transition-medium);
    
    &:has(> #search-query:focus) {
        transform: scale(1.03);
        transition: var(--transition-short);
    }
}

#search-query {
    appearance: none;
    width: 100%;
    border: solid 1px var(--color-foreground);
    border-radius: var(--radius-medium);
    box-shadow: 4px 4px 0 var(--color-foreground);
    color: var(--color-foreground);
    background-color: var(--color-primary);
    padding: 5px 43px;
    font-size: 1.3rem;
    font-weight: var(--font-normal);
    transition: var(--transition-medium);
    
    &::placeholder {
        color: hsl(222, 47%, 0%);
        opacity: 0.5;
        font-weight: var(--font-normal);
        transition: var(--transition-medium);
    }
    
    &:focus {
        outline: none;
        box-shadow: 6px 6px 0 var(--color-foreground);
        transition: var(--transition-medium);
        
        &::placeholder {
            transition: var(--transition-short);
            opacity: 0;
        }
    }
}

.search-button {
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    
    &:hover {
        cursor: pointer;
    }
}

.location-button {
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    
    &:hover {
        cursor: pointer;
    }
}

.loading {
    align-self: center;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    border: 0.4rem solid var(--color-background-muted);
    border-top: 0.4rem solid var(--color-foreground);
    border-left: 0.4rem solid var(--color-foreground);
    animation: rotate 0.5s linear infinite;
}

.no-location {
    width: 100%;
    border: var(--border-lighter);
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow-small);
    padding: 5px;
    color: hsl(240 47% 15% / 0.8);
    background-color: var(--color-error);
    font-size: 1.3rem;
    font-weight: var(--font-normal);
    text-align: center;
    transition: opacity 1s ease-in-out;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}